<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
<p><b>Email:</b> <%= @order.email %> </p>                                             <!-- "Displaying the Email" -->
<div class="panel panel-default items">                                               <!-- "Panel and Table for Order Items" -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% products = Product.all %>                                                    <!-- Fetch all products -->
      <% @order.line_items.each do |item| %>                                          <!-- Iterating through line items in the order -->
        <% product = products.find_by(id: item.product_id) %>                         <!-- Finding product details for each line item -->
        <%= render 'line_item', product: product, quantity: item[:quantity].to_i %>   <!-- Rendering line item partial with product and quantity -->
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          TOTAL:
        </th>
        <th>
          <%= "$#{@order.total_cents / 100.0}" %>                                     <!-- Displaying total order price -->
        </th>
      </tr>
    </tfoot>
  </table>
</div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
