<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span><%= humanized_money_with_symbol product.price %></span>
    </h1>
  <% end%>
  <div>
    <% if product.quantity == 0 %> <!-- Check if the product is sold out -->
      <!-- If the product is sold out, disable the 'Add to Cart' button and display 'Sold Out' -->
      <button disabled class="soldout">Sold Out</button>
      <button disabled class="btn"><%= fa_icon "shopping-cart", text: 'Add' %></button>
    <% else %> <!-- If the product is available -->
      <%= button_to add_item_cart_path(product_id: product.id), class: 'btn', method: :post do %> <!-- Button to add the product to the cart -->
        <%= fa_icon "shopping-cart", text: 'Add' %> <!-- Icon and text for the 'Add to Cart' button -->
      <% end %>
    <% end %>
  </div>
</article>